body {
    background: rgb(238, 238, 238);
    padding: 2rem;
}

.card {
    text-decoration: none;
    margin: 1.4rem;
    display: inline-block;
    color: #000;
}


.card span {
    display: block;
}

.card-inner {
    background-color: rgb(255, 255, 255);
}

.card-media {
    position: relative;
}

.card-meta {

}

.card-footer,
.card-meta .desc,
.card-meta .title {
    padding: 0.8rem 1rem;
}

.card-meta .title {
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 1.2rem;
}

.card-meta .desc {

}

.card-footer {

}

.cards-layout.masonry {
    columns: 3;

}

.cards-layout.masonry .card{
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
}

.cards-layout.masonry .card-media {

}

a.card span img {
    display: block;
    width: 100%;
}

.cards-layout.flex {
    display: flex;
    flex-wrap: wrap;
}

.cards-layout.flex .card {
    width: 30%;
    display: flex;
}

.cards-layout.flex .card-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cards-layout.flex .card-media {
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.cards-layout.flex .card-media:after {
    display: block;
    content: '';
    padding-top: 56.25%;
}

.cards-layout.flex .card-media img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateY(-50%);
}

.cards-layout.flex .card-footer {
    margin-top: auto;
}