* {
    box-sizing: border-box;
}

html {
    font-family: "Helvetica", sans-serif;
}

body {
    background-color: rgb(238, 238, 238);
}

section {
    margin: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Georgia", sans-serif;
    font-size: 1em;
    line-height: 1.2;
}

img {
    width: 100%;
    height: auto;
}

button {
    background-color: rgb(0, 153, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 1em 2em;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    margin-bottom: 1em;
}

.card {
    background-color: rgb(255, 255, 255);
    width: 25vw;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 5px #bbb;
}

.card-content {
    padding: 1em;
}
