nav.main {

}

nav.main > ul {
    padding: 0.5rem;
    margin: 0;
    display: flex;
}

nav.main ul li {
    display: block;
    list-style: none outside;
    position: relative;
}

nav.main ul li:not(:last-child) {
    padding-right: 2rem;
}

nav.main ul li a {
    display: block;
    text-decoration: none;
    color: #EEE;
    padding: 0.5rem 1rem;
    border-radius: 10%;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    transition: 0.15s;
}

nav.main li:hover > a,
nav.main a:hover {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    background: #FFF;
    color: #110128;
    transform: scale(1.05);
}

#main-nav-toggle {
    display: none;
}

.site-header .site-title a {
    display: block;
    text-decoration: none;
    color: #EEE;
    font-size: 2.5rem;
    font-family: "Source Sans Pro", sans-serif;
    position: relative;
}

.site-header .site-title a:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 72%;
    border-bottom: 1px solid;
    border-radius: 2px;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(0,1);
}

.site-header .site-title a:hover:after {
    opacity: 1;
    transform: scale(1);
}

.site-header .site-description {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    color: #EEE;
}

#main-nav-toggle {
    display: none;
}

#toggle {
    position: relative;
    flex: 0 0 auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 1rem 0;
    color: #FFF;
    font-size: 1.5rem;
}

#times-icon {
    display: none;
}

@media screen and (max-width: 980px){
    nav.main {
        display: none;
        margin-top: 1rem;
    }

    nav.main ul li a {
        text-align: center;
    }

    nav.main > ul {
        display: block;
    }

    nav.main > ul > li:not(:last-child) {
        padding: 0 0 0.5rem 0;
    }

    #main-nav-toggle:checked + header nav.main {
        display: block;
        flex: 1 0 100%;
    }

    #main-nav-toggle:checked + header #toggle .fa-times {
        display: block;
    }

    #main-nav-toggle:checked + header #toggle .fa-bars {
        display: none;
    }
}

@media screen and (min-width: 980px){
    #toggle {
        display: none;
    }
}